@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.nav a.active {
  /* border-bottom: 2px solid #086c52; */
  color: #086c52;
  padding-bottom: 0.25rem;
  font-weight: 700;
}

.darkmode :active {
  color: #086c52;
  background-color: rgba(0, 0, 0, 0.2) !important;
  outline: none;
}
.dash-nav a.active {
  color: #086c52;
  padding-bottom: 0.25rem;
  font-weight: 600;
}

.nav a:hover {
  color: #086c52;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.dash-nav a:hover {
  color: #086c52;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.nav a:active {
  background-color: rgba(0, 0, 0, 0.2) !important;
  outline: none;
}

.dash-nav a:active {
  background-color: rgba(0, 0, 0, 0.2) !important;
  outline: none;
}

.dash-block {
  background-color: rgba(255, 255, 255, 0.2) !important;
  outline: none;
}
